div{
    border:1px solid black;
    box-sizing: border-box;
}

.container-1{
    border : 2px dashed red;

    /*  상대적 기준 잡기 */
    /* 내부에 작성되는 요소에 상대적 위치(top/bottom/left/rigth)를
        지정할 수 있음. */
    position: relative;

}


.first{
    width: 300px;
    height: 300px;
    background-color: yellow;
}


.second{
    width: 200px;
    height: 200px;
    background-color: green;

    top : 50px;
    left : 50px;
    
    position :absolute; /* absolute를 주면서 block의 형태를 무시함.*/
}


.third{
    width: 100px;
    height: 100px;
    background-color: navajowhite;

    top: 100px;
    left : 100px;

    position : absolute;
}


/*정가운데 배치하기*/
.container-2{
    width: 300px;
    height: 300px;

    position: relative; 
    /* 이 친구를 기준으로 삼겠다. */

}

#center{
    width: 50px;
    height: 50px;
    background-color: pink;

    position : absolute;

    top : 0;
    left : 0;
    bottom : 0;
    right : 0;
    margin: auto;
}


/* 위쪽으로 이동 버튼 */
.fixed-area{
    width: 120px;
    
    position : fixed;

    bottom : 50px;
    right: 50px;
}
















