/* 5순위 : 태그 선택자*/
div{
    width: 200px;
    height: 200px;
    background-color: red !important; /*1순위 : !important */
}


/*4순위 : class 선택자*/
.cls1{
    background-color: green;
    /*크기는 가지고 감*/
}

.cls1{
    background-color: yellow;
    /*동일한 우선순위는 마지막에 작성된 설정값이 적용됨.*/
}


/*3순위 : id선택자*/
#test1{
    height: 100px;
    background-color: black;
    color: white; 
}

/*2순위 : inline 선택자*/ 



