img{
    width : 250px;
    height : auto;
}

/* transform : 변형과 관련된 속성 */

/* CSS 속성 작성시 크로스 브라우저(브라우저가 달라지는 경우) 처리방법  // mdm(mojila)속성 찾을 수 있음.

-ms- : 마이크로 소프트(익스플로어, 엣지) 
-webkit : 크롬, 사파리 
-o- : 오페라
-moz- : 파이어폭스
*/
/* 1) 이동 */
/* 좌우 이동 */
.trans-x-2d:hover{ /*마우스를 가져다가되면, 우측 이동*/
    /* 변형이 먹지 않은 상황까지 대비하여 명시함. */
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform : translateX(100px);
}


/* 상하 이동 */
.trans-y-2d:hover{ /*마우스를 가져다가되면, 상하 이동*/
    -ms-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transform : translateY(100px);
}


/* 대각선 이동 */
.trans-xy-2d:hover{ /*마우스를 가져다가되면, 상하 이동*/
    transform : translate(100px , 100px); 
    /* 오른쪽 하단 이동 */
}


/* 2) scale(배율) */
/* 가로방향 확대/축소 */
.trans-x-scale-2d:hover{ 
    transform : scaleX(2); /*2배 확대*/
    margin-left: 200px;  /*왼쪽 여백*/
}

/* 세로방향 확대/축소 */
.trans-y-scale-2d:hover{ 
    transform : scaleY(2); /*2배 확대*/
}


/* 대각선 확대/축소 */
.trans-scale-2d:hover{ 
    transform : scale(2,2); /*2배 확대*/
    margin: 150px 150px;  /*왼쪽 여백*/
}

/* 3) 회전 */
.trans-rotate:hover{ 
    transform : rotate(180deg);
}


/* 4) 3d 이동 */
/* x,y,z축 이동 */
.trans-3d:hover{
    /* perspective(z축의 길이) : 원근법 적용  */
    transform : perspective(300px) translate3d(50px,50px,100px);
                /*   크기 원근법?                  위치 이동  */
}

/* x축 눕기 */
.trans-rotate-x-3d{
    transform : perspective(300px) rotateX(45deg);
}

/* y축 눕기 */
.trans-rotate-y-3d{
    margin-top : 50px;
    transform : perspective(600px) rotateY(45deg);
}

/* z축 회전 */
.trans-rotate-z-3d{
    margin-top : 100px;
    margin-bottom : 100px;
    transform : perspective(10000px) rotateZ(45deg);
}


/* transition */
/* 네모 -> 원형 변화 */
.box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: red;

    /* 스타일이 변경되는 시간 지정 */
    transition-duration: 1s;
}

.test1:hover{
    background-color: yellow;
}

.test2{
    transition-duration:  2s;
}

.test2:hover{
    transform: rotate(360deg);
    background-color: blue;

    /* 테두리 모서리 곡률 속성 */
    border-radius: 50%;
}


.test3{
    transition-duration: 3s;

    transition-timing-function: ease-in-out;
    /* 천천-> 보통-> 천천 속도 */
    /* easy(기본값) :: 천천 -> 빨리 -> 천천 
       easy in :: 천천ㄴ
       ease-out :: 빨리
       linear :: 등속;*/
}

.test3:hover{
    background-color: pink;
    transform : rotate(720deg);
}



.test4{
    transition-delay: 2s;
}

.test4:hover{
    transform : translateX(100px);
}


































