*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

/* 영역나누기 (div, section)*/
section{
    border : 1px solid red;
}


/* --------------------------------------- */
/* main */

header{
    height: 56px;
    display: flex;

    padding : 0px 16px;
    position : sticky ;
    background-color: white;
}

header > section:first-child{
    flex-basis: 15%;
}

#youtube-logo{
    width: 97px; 
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


#menu-btn{
    flex-basis :10%;
    cursor: pointer;

    font-size: 24px ;

    border : none;
    background-color: transparent;
}


/* 검색창 영역*/
header > section:nth-child(2){
    flex-basis : 70%;

    /* 2영역 나누기 => 검색 , 마이크*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.search1 fieldset{
    width: 568px;
    height: 48px;
    flex-basis: 90%;
    border : 2px solid #ddd;
    border-radius: 100px 0px 0px 100px;
    margin : 0 ;
    padding : 0px 4px 0px 16px;

    display: flex;
}

/* 나중에 빨간거 지울때 없애도 됨 */
.search1{
    border: 0;
}


#search-input{

    flex-basis : 90%;
    padding : 0 4 0 16;
    font-size:24px;

    border : none;
    outline: none;
}

#keyboard-btn{
    flex-basis: 10%;

    cursor: pointer;
    padding : 0 4;
    font-size:24px;
    background-color: transparent;
    border : none;
    outline: none;  

}

.search2{
    width: 64px;
    height: 48px;   
    padding : 1px 16px; 
    border : 2px solid #ddd;
    border-left: 0;
    border-radius: 0px 100px 100px 0px;
    margin : 0 ;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F0F0F0;

}

.search2:hover{
    border : 0;
    background-color: #83838371;
}

#search-btn{
    /* flex-basis : 10%; */
    cursor:pointer;
    font-size:24px;
    color : black;
    background-color: transparent ;

    border : none;
}

.search3{
    height: 48px;
    width: 78px;
    padding :  0px  0px 0px 30px  ; 
}

#microphone-btn{
    border : 0;
    background-color: #F0F0F0;

    width: 100%;
    height: 100%;
    cursor : pointer;
    border-radius: 50%;
    font-size:24px;
    margin : 0 ;
    padding : 2px;
}
    
#microphone-btn:hover{  
    border : 0;
    background-color: #83838371;
}

.user, .menu{
    
    padding :  0px 30px 0px 0px;
}

header > section:last-child{
    flex-basis: 15%;

    /* 3영역 나누기 */
    display: flex;
    justify-content: right;
    align-items:center;
}

#new-video{
    /* flex-basis : 22%; */
    border : 0;
    background-color: transparent;

    height: 48px;
    width: 48px;
    border-radius: 50%;
}

#new-video:hover{
    border : 0;
    background-color: #83838371;    
}

#alarm{
    /* flex-basis : 22%; */
    border : 0;
    background-color: transparent;

    height: 48px;
    width: 48px;
    border-radius: 50%;
}

#alarm:hover{
    border : 0;
    background-color: #83838371;    
}


#user{
    /* flex-basis : 22%; */
    border : 0;
    background-color: transparent;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

#user:hover{
    border : 0;
    background-color: #83838371;    
}


/* ----------------------본문-------------------- */

.display{

    height: 2000px;

    display: flex;
    justify-content: center;

}

.display1{
    flex-basis: 70%;

    padding : 30px 0px 0px 100px;
            /* 상  우  하   좌 */


    /* 아직 사용할지 안할지 모름 */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.display1 iframe{
    flex-basis: 30%;
    width: 100%;
}



.title{
    display: flex;
    flex-direction: column;

    margin : 10px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: "GmarketSansMedium";

}

.title > p{
    margin : 0px;
}

.title > a{
    color : blue;
    margin : 0px;
    text-decoration: none; 
}



/* 이용자 기능 */

.user-function{
    display: flex;
    
}


.video-owner{
    flex-basis: 30%;

    display: flex;
    align-items: center;
    border: 2px solid blue;
}

.wrapper{
    flex-basis: 40%;

    padding : 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    /* overflow : 흘러넘친 부분 숨기기*/
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper > img {
    height: 100%;
}


.video-owner-info {
    flex-basis: 60%;

    display: flex;
    flex-direction: column;

    margin : 10px;
    font-family: "GmarketSansMedium";
}

.video-owner-info > p:nth-child(1){
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding : 0;
}

.video-owner-info > p:nth-child(2){
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding : 0;
}

.subscribe{
    flex-basis: 8%;
    padding-top : 20px;
}

#subscribe-btn{
    cursor: pointer; 
    border : none;

    width: 70px;
    height: 40px;
    border-radius: 50px;

    background-color: black;
    color: white;
    font-size : 20px;

}

.user-function  > div:nth-child(3){
    flex-basis: 9%;
}

.feedback{
    flex-basis: 17%;
    padding : 0px 5px 0px 5px;
    display: flex;
    align-items: center;
}

#good-btn{
    padding-left : 1;
    flex-basis: 50%;
    cursor: pointer;
    border: none;
    width: 70px;
    height: 40px;
    border-radius:  50px 0px 0px 50px;
    border : 2px solid #ddd;
    background-color: #F0F0F0;

    font-size : 20px;
    
}

#good-btn:hover{
    background-color:#83838371;
}

#bad-btn{
    padding-left : 1;
    flex-basis: 50%;
    cursor: pointer;
    border: none;
    width: 70px;
    height: 40px;
    border-radius:   0px 50px 50px 0px;
    border : 2px solid #ddd;
    background-color: #F0F0F0;
    
    font-size : 20px;
}

#bad-btn:hover{
    background-color:#83838371;
}



.share{
    flex-basis: 8%;
    padding-left : 10px;
    margin : auto; 
    
}

#share-btn{

    margin:0;
    flex-basis: 20px;
    cursor: pointer;
    border: none;

    width: 83px;
    height: 40px;

    border-radius: 50px;
    border : 2px solid #ddd;
    background-color: #F0F0F0;
    
    font-size : 20px;
}

#share-btn:hover{
    background-color:#83838371;
}

.off-save{
    flex-basis: 15%;

    padding-left : 10px;
    margin : auto; 
}


#off-save-btn{

    margin:0;
    flex-basis: 20px;
    cursor: pointer;
    border: none;

    width: 200px;
    height: 40px;

    border-radius: 50px;
    border : 2px solid #ddd;
    background-color: #F0F0F0;
    
    font-size : 20px;
}

#off-save-btn:hover{
    background-color:#83838371;
}



.save{
    flex-basis: 8%;
    padding-left : 10px;
    margin : auto; 
}

#save-btn{

    margin:0;
    flex-basis: 20px;
    cursor: pointer;
    border: none;

    width: 83px;
    height: 40px;

    border-radius: 50px;
    border : 2px solid #ddd;
    background-color: #F0F0F0;
    
    font-size : 20px;
}

#save-btn:hover{
    background-color:#83838371;
}




.add-subscribe{
    flex-basis: 5%;

    padding-left : 10px;
    margin : auto; 
}


#add-subscribe-btn{

    margin:0;
    flex-basis: 20px;
    cursor: pointer;
    border: none;

    width: 40px;
    height: 40px;

    border-radius: 50px;
    border : 2px solid #ddd;
    background-color: #F0F0F0;
    
    font-size : 20px;
}

#savadd-subscribee-btn:hover{
    background-color:#83838371;
}





















.display2{
    flex-basis: 30%;
    /* padding : 30px ; */
}




































































/* 반응형 모바일 기준 :: 미디어 쿼리 */
/* 해상도 767px 이하면 무조건 여기 작성된대로 css 적용해라 */
@media all and ( max-width : 767px){

/* 태그  부르기! */

/* 검색창 안보ㄱ이게하기 => display : none */


}

/* pc해상도 1024px */
@media all and (min-width :1024px){

}

/* px 해상도 1024px */
@media all and (min-width :1024px){}




